<div class="container">
    <form class="form-signin" (ngSubmit)="onSignin()" #f="ngForm">
        <h2 class="form-signin-heading">Please login</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Email address" required autofocus [(ngModel)]="user.username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required [(ngModel)]="user.password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid || loading">Sign in</button>
        <p></p>
        <div class="alert alert-danger" role="alert" *ngIf="!!errorText">
            <strong>Oh snap!</strong> {{ errorText }}!
        </div>
    </form>

</div>